#survey .topics div {
  width: 44%;
  height: 100px;
  border: 1px dashed #275AC3;
  text-align: center;
  line-height: 100px;
  display: inline-block;
  margin: 3%;
  display: none;
}
#survey .survey {
  border: 1px solid silver;
  margin: 10px;
  border-radius: 5px;
  overflow: hidden;
}
#survey .survey .question-index {
  background-color: #E3B74A;
  text-align: center;
  color: white;
  font-size: 16px;
  padding: 2px 0;
  height: 26px;
}
#survey .survey .survey-question {
  padding: 15px;
}
#survey .survey .survey-question p {
  border-bottom: 1px solid silver;
  padding: 0 0 10px 10px;
}
#survey .survey .survey-question .option {
  min-height: 40px;
  line-height: 40px;
  margin: 0 10px;
}
#survey .survey .survey-question .option input[type='radio'] {
  width: 20px;
  height: 20px;
  vertical-align: middle;
  margin-top: 0;
}
#survey .survey .survey-question .option span {
  margin-left: 20px;
}
#survey .buttons {
  margin: 10px;
}
#survey .buttons button {
  background-color: #E3B74A;
}
#survey .buttons button:first-child {
  width: 48%;
  margin-right: 2%;
}
#survey .buttons button:last-child {
  width: 48%;
  margin-left: 2%;
}
